/*PARA ADAPTAR LAS LETRAS ESTOS DOS SON BASE*/
html 
{
    font-size: 62.5%;
}

body
{
    font-size: 16px;
    font-family: var(--fuentePrimaria);
    /*Con background-image: linear-gradiente, nos permite fijar un difuminado, recibe tres parametros
    de donde iniciara, el color inferior, el color superior */
    background-image: linear-gradient(to top, var(--azulOscuro) 0%,  var(--azulClaro)  100%);
}
/********************************************/

/*Definicion de variables*/
:root
{
    /*Colores*/
    --blanco:#ffffff;
    --negro:#212121;
    --gris:#757575;
    --primario:#ffc107;
    --secundario:#0097a7;
    --azulOscuro: #1B445B;
    --azulClaro: #7BCBFB;
    /*Fuentes*/
    --fuentePrimaria: 'Montserrat', sans-serif;
    /*Tamaño de fuentes*/
    --negritas:800;
}
/*********************************/
/******NORMALIZACION DEL HTML*****/
html
{   
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after
{
    box-sizing: inherit;
}
/*********************************/
/*
.titulo
{
    text-align: center;
    font-size: 3.5rem;
    color: var(--negro);
    font-family: var(--fuentePrimaria);
    font-weight: var(--negritas);
    
    
}
*/

h1{ font-size: 3.8rem; }
h2{ font-size: 2.8rem; }
h3{ font-size: 1.8rem; }

h1, h2, h3 
{
    text-align: center;
}

.titulo span
{
    font-size: 1.5rem;
    text-align: center;
}

.contenedor
{
    max-width: 120rem;
    /*margin: derecha|izquierda arriba|abajo*/
    margin: 0 auto;
    
}
/***DEFINICION DE LOS BOTONES***/
.boton 
{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--negritas);
    border-radius: 5px;
    text-align: center;
}

@media (min-width: 480px) 
{
  .boton
  {
    width: auto;
  }
}
/*********************************/
/***CREACION DE UN EFECTO DE SOMBRA***/
.sombra
{
    -webkit-box-shadow: 20px 20px 30px 7px rgba(0,0,0,0.84);
    -moz-box-shadow: 20px 20px 30px 7px rgba(0,0,0,0.84);
    box-shadow: 20px 20px 30px 7px rgba(0,0,0,0.84);
    padding: 2rem;
    border-radius: 3rem;
}
/*********************************/
.nav-bg
{
    background-color: var(--secundario);
}

.navegacion-principal
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*IDEAL PARA UNA TABLET*/
@media (min-width: 768px) 
{
  .navegacion-principal
  {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navegacion-principal a
{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-weight: var(--negritas);
}

.navegacion-principal a:hover
{
    font-weight: var(--negritas);
    background-color: var(--primario);
    color: var(--negro);
}
/***DEFINICION DE LA IMAGEN***/
.hero
{
    background-image: url(../img/img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    margin-bottom: 2rem;
}
/*********************************/
.contenido-hero
{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, .contenido-hero p
{
    color: var(--blanco);
    font-weight: var(--negritas);
}

.ubicacion
{
    display: flex;
    align-items: center;
    color: var(--blanco);
}